@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-size: 16px;
    font-family: 'Pretendard-Regular';
    line-height: 20px;
    color: #4c4438;
}

#fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.5s;
}

#top {
    background-color: #566d38;
    height: 25px;
}

.top_inner {
    width: 1320px;
    margin: 0 auto;
}

#top ul {
    float: right;
}

#top ul li {
    margin: 2px 12px;
    float: left;
}

#top li a {
    color: #c4d0a5;
}

#top li a:hover {
    color: #aed2c0;
    text-decoration: underline;
}

#header {
    background-color: rgba(255, 255, 255, 0.3);
}

.header_inner {
    width: 1320px;
    margin: 0 auto;
    height: 100px;
}


.header_inner>ul>li {
    float: left;
    font-family: 'Gugi', cursive;
    padding: 40px 0 0;
    font-size: 28px;
    text-align: center;
    position: relative;
}

.header_inner>ul>li>a {
    display: block;
    padding: 0 50px;

}

.header_inner>ul>li:nth-child(3) {
    padding-top: 8px;
}

.header_inner>ul>li>a:hover {
    color: #506831;
}

.nav li:nth-child(1) {
    padding-top: 40px;

}

.sub {
    display: none;
    position: absolute;
    width: 100%;
}

.nav li:hover .sub {
    display: block;
}

.sub li a {
    display: block;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    background-color: #0303036d;
    font-size: 20px;

}

.sub li a:hover {
    color: #000000;
}

/* 자바스크립트로 추가될 클래스 */
#fixed.nav-up {
    top: -125px;
    /* 높이만큼 주기 */
}

.main {
    width: 100%;
}

.main img {
    width: 100%;
    margin: 0 auto;
    opacity: 0.5;
    height: 500px;
}



.map {
    margin: 0 auto;
    width: 1000px;
    position: relative;
    height: 1000px;
}

.fade-right {
    position: absolute;
    top: 300px;
    right: 10px;
}


.map h1 {
    padding-top: 75px;
    text-align: center;
    font-family: 'gugi';
    background: url(./images/greencycle.png) no-repeat 41% 100%;
}

.map h2 {
    padding-top: 50px;
    text-align: center;
    font-family: 'Pretendard-Regular';
    margin: 20px 0 30px 0;

}

#footer {
    padding-top: 70px;
    background: url(./images/background1.png) no-repeat;
    background-size: cover;
}

.backgruond {
    width: 100%;
    margin: 0 auto;
    height: 1000px;

}

#footer {
    padding-top: 70px;
    background: url(./images/background1.png) no-repeat;
    background-size: cover;
    height: 250px;
}

.backgruond {
    width: 100%;
    margin: 0 auto;
    height: 1000px;

}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    height: 100px;
    margin-top: 70px;
    position: relative;
}

.footer_inner>a {
    float: left;
}

.footer_inner div {
    float: right;
    text-align: center;
}

.footer_inner ul li {
    float: left;
    padding-right: 10px;
    font-size: 16px;
}

.footer_inner ul li a:hover {
    color: #cdd9bd;
}

.footer_inner p {
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin-top: 70px;
    clear: both;
}